.contact-bg {
  transform: translate3d(-50%, 22.6308px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  height: 1013px;
}

.contactArea {
  position: relative;
  background-attachment: fixed;
  padding: 100px 0;
  z-index: 1;
}

.contactArea:before {
  content: "";
  background-color: rgba(21, 26, 48, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media (min-width: 576px) {
  .form-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .form-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .form-container {
    /* max-width: 960px; */
    max-width: 1000px;
  }
}

@media (max-width: 1100px) {
  .form-container {
    flex-direction: column;
    gap: 35px;
  }
}

/* .form-content h2::before{
    content: "";
    position: absolute;
    left: -68px;
    top: 19px;
    width: 60px;
    height: 1px;
    background: #c9a485;
}

@media(max-width: 1200px){
    .form-content h2::before{
        width: 30px;
        left: -35px;
    }
} */

.form-content ul li a:hover {
  color: #c9a485;
}

input,
textarea {
  background: hsla(44, 25%, 67%, 0.2);
  height: 50px;
  padding: 6px 15px;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid hsla(44, 25%, 67%, 0.5);
  width: 100%;
  box-sizing: border-box;
}

.custom-select {
  background: hsla(44, 25%, 67%, 0.2);
  height: 50px;
  /* padding: 10px; */
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid hsla(44, 25%, 67%, 0.5);
  width: 100%;
  box-sizing: border-box;
}

.custom-select-input {
  background-color: hsla(44, 25%, 67%, 0.2) !important;
  color: white !important;
  border: none !important;
  height: 50px !important;
}

.custom-select div button {
  height: 50px !important;
}

/* .react-international-phone-country-selector {
} */

.react-international-phone-country-selector button {
  background-color: #c2946f !important;
  border: none !important;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0% !important;
  border: 1px solid #c2946f !important;
  transition: all 0.3s ease;
}

.react-international-phone-country-selector button:hover {
  background: transparent !important;
}

textarea {
  height: 150px;
  padding: 15px;
  min-height: calc(1.5em + 0.75rem + 2px);
}

.apt-btn {
  font-size: 15px;
  color: #fff;
  padding: 9px 25px;
  display: inline-block;
  background: #c2946f;
  border: 1px solid #c2946f;
  font-weight: 600;
  border-radius: 0;
  transition: all 0.5s ease;
}

@media (max-width: 550px) {
  .name-country {
    flex-direction: column;
  }
}

@media (min-width: 1100px) {
  .form-content {
    width: 40vw;
  }

  .form-div {
    width: 60vw;
  }

  .apt-btn {
    width: max-content;
  }
}

.apt-btn:hover {
  background: transparent;
  color: #c2946f;
}
